/* navigation */

#navbar{
    flex-direction: column;
}

#logo{
    margin: 0px 17px;
}

#logo img {
    height: 89px;
    margin: 2px 23px 0px 23px;
    padding: 0px;
}

#navbar ul li a {
    padding: 0px 5px 11px;
    font-size: 1rem;
}



/* home */
#home{
    height: 270px;
    flex-direction: column;
}

#home::before{
    height: 467px;
}


#home h1{
    width: 310px;
}

#home p{
    font-size: 21px;
    padding: 0px;
    width: 338px;
}




/* services */
#services{
    flex-direction: column;
}


/* clients */

#clients{
    flex-wrap: wrap;
}

#clients img {
    /* overflow: hidden; */
    width: 79px;
    height: auto;
}


/* contact */

#contact-box ::placeholder{
    font-size: 17px;
}



/* footer */





/* utility class */


.h-primary{
    font-size: 23px;
    /* width: 310px; */
    margin: 30px 0px 0px 0px;
}

.btn{
    font-size: 0.9rem;
    padding: 0px 7px;
}

